{% extends "base.html" %}

{% block content %}

    <div class="row">

        <div class="col-sm-3 col-xm-12" style="background-color: red;">
            <h1>{{ request.user }}</h1>
        </div>

        <div class="col-sm-9">
            {% for object in  object_list %}
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            {% if object.image %}
                                <img src="..." alt="..." class="media-object">
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                        {{ object.content }}<br/>
                        vía {{ object.user }} | Hace {{ object.timestamp|timesince }} | <a href="{{ object.get_absolute_url }} "> Ver </a>
                    </div>
                </div>
                <hr/>
            {% empty %}
                {% if request.GET.q %}
                    <p>No se han encontrado tweets.</p>
                    {% else %}
                        <p>No se han registrado tweets.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
