{% extends "base.html" %}


{% block script %}

    <script>

    $(document).ready(function () {
       console.log("Working");



       $.ajax({
           url: "/api/tweet/",
           method: "GET",
           success: function (data) {
               console.log(data);
               $.each(data, function (key, value) {
                   var tweetKey = key;
                   var tweetUser = value.user;
                   var tweetContent = value.content;



                   $("#tweet-container").append(

                       "<div class=\"media\"> <div class=\"media-body\">" + tweetContent + "<br/> via " + tweetUser.username + " | " + "<a href=\"#\">Ver<a>" + "</div> </div><hr/>"


                   )
               })
           },
           error: function (data) {
               console.log("Error")
               console.log(data)
           }
       })


    });

    </script>

{% endblock script %}


{% block content %}

    <div class="row">

        <div class="col-sm-3 col-xm-12" style="background-color: red;">
            <h1>{{ request.user }}</h1>
        </div>

        <div class="col-sm-9">

            {% if not request.GET.get.q %}
                <div class="">
                    {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" %}
                </div>
                <hr/>
            {% endif %}

            <div id="tweet-container">

            </div>

            {% for object in  object_list %}
                <div class="media">

                    <div class="media-left">
                        <a href="#">
                            {% if object.image %}
                                <img src="..." alt="..." class="media-object">
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                        {{ object.content }} <br/>
                        via {{ object.user }} | Hace {{ object.timestamp|timesince }} | <a href="{{ object.get_absolute_url }}">Ver</a>
                    </div>

                </div>
                <hr/>
            {% empty %}
                {% if request.GET.q %}
                    <p>No se han encontrado tweets.</p>
                    {% else %}
                        <p>No se han registrado tweets.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
